* {
    font-family: "SF Pro Display", "JetbrainsMono Nerd Font Propo";
    font-size: 14px;
    font-weight: 400;
    color: rgba(200, 170, 230, 1);
}

/* =========================
   WAYBAR ROOT (IMPORTANT)
   ========================= */
#waybar {
    background: transparent;
    border: none;
}

/* =========================
   INNER CONTAINER (ROUNDED SURFACE)
   ========================= */
/* This is the actual visible bar */
#waybar>box {
    background-color: rgba(30, 20, 45, 1);
    border: 1px solid rgba(45, 27, 61, 1);
    border-radius: 10px;

    padding: 0px;
}

/* =========================
   WORKSPACES
   ========================= */
#workspaces {
    margin: 8px 8px;
    padding: 2px;
}

#workspaces button {
    padding: 6px 12px;
    margin: 2px;
    background: transparent;
    border: none;
}

#workspaces button.active {
    color: rgba(160, 100, 200, 1);
}

#workspaces button:hover {
    color: rgba(200, 170, 230, 1);
}

/* =========================
   MODULES
   ========================= */
#clock {
    padding: 8px 16px;
    margin: 4px 8px;
    font-weight: 600;
}

#cpu,
#memory,
#network,
#backlight {
    padding: 8px 12px;
    margin: 4px 0px;
}

#pulseaudio {
    padding: 8px 12px;
    margin: 4px 0px 4px 8px;
    border-radius: 8px 0 0 8px;
}

#battery {
    padding: 8px 12px;
    margin: 4px 0px;
    font-weight: 600;
}

#custom-power {
    padding: 8px 12px;
    margin: 4px 8px 4px 0px;
    border-radius: 0 8px 8px 0;
    font-weight: 600;
}

/* =========================
   HOVER STATES
   ========================= */
#window:hover,
#cpu:hover,
#memory:hover,
#network:hover,
#pulseaudio:hover,
#backlight:hover,
#bluetooth:hover,
#battery:hover,
#custom-power:hover,
#clock:hover {
    color: rgba(160, 100, 200, 1);
}

#window:active,
#cpu:active,
#memory:active,
#network:active,
#pulseaudio:active,
#backlight:active,
#battery:active,
#custom-power:active,
#clock:active {
    color: rgba(200, 170, 230, 1);
}

/* =========================
   BATTERY STATE
   ========================= */
#battery.charging {
    color: #00ff00;
}
