* {
    font-family: JetbrainsMono Nerd Font;
    font-size: 14px;
    font-weight: lighter;
    color: rgba(200, 170, 230, 1);
}

#waybar {
    background-color: rgba(30, 20, 45, 1);
    border: 1px solid rgba(45, 27, 61, 1);
    border-radius: 10px;

    margin-right: 30px;
    padding-left: 30px;
}


#workspaces {
    margin: 8px 8px;
    padding: 2px;
}

#workspaces button {
    border-radius: 6px;
    padding: 6px 12px;
    margin: 2px;
    font-weight: 600;
}

#workspaces button.active {
    color: rgba(160, 100, 200, 1);
}

#workspaces button:hover {
    color: rgba(200, 170, 230, 1);
}

#clock {
    padding: 8px 16px;
    margin: 4px 8px;
    border-radius: 8px;
    font-weight: 600;
}

#cpu {
    padding: 8px 12px;
    margin: 4px 0px;
}

#memory {
    padding: 8px 12px;
    margin: 4px 0px;
}

#network {
    padding: 8px 12px;
    margin: 4px 0px;
}

#pulseaudio {
    padding: 8px 12px;
    margin: 4px 0px 4px 8px;
    border-radius: 8px 0 0 8px;
}

#backlight {
    padding: 8px 12px;
    margin: 4px 0px;
}

#battery {
    padding: 8px 12px;
    margin: 4px 0px;
    font-weight: 600;
}

#custom-power {
    padding: 8px 12px;
    margin: 4px 8px 4px 0px;
    border-radius: 0 8px 8px 0;
    font-weight: 600;
}

#window:hover,
#cpu:hover,
#memory:hover,
#network:hover,
#pulseaudio:hover,
#backlight:hover,
#battery:hover,
#custom-power:hover,
#clock:hover {
    color: rgba(160, 100, 200, 1);
}

#window:active,
#cpu:active,
#memory:active,
#network:active,
#pulseaudio:active,
#backlight:active,
#battery:active,
#custom-power:active,
#clock:active {
    color: rgba(200, 170, 230, 1);
}

#battery.charging {
    color: #00ff00;
}
